<div class="row">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Informe aqui o código a ser avaliado...." [formControl]="textValue">
        <span class="input-group-btn">
          <button (click)="verifyButton()" class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<h3>Resultados</h3>
<hr />
<table class="table">
  <tr>
    <td>Descrição</td>
    <td>Padrão</td>
    <td>Tamanho</td>
    <td>Resultado</td>
    <td>IsMatch</td>
  </tr>
  <tr *ngFor="let function of functions">
    <td>{{function.description}}</td>
    <td>{{function.pattern}}</td>
    <td>{{function.size}}</td>
    <td>{{function.result}}</td>
    <td>{{function.isMatch}}</td>
  </tr>
</table>