<br>
<div id="validationValue" class="row">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Informe aqui o código a ser avaliado...." [formControl]="textValue"
          (keyup.enter)="verifyButton()">
        <span class="input-group-btn">
          <button (click)="verifyButton()" class="btn btn-default" type="button">Verificar</button>
          
        </span>
      </div><!-- /input-group -->
      <!-- <label for="usr">Name</label> -->
      <br>
          <input type="text" placeholder="Deslocamento para Cifra de César" class="form-control" [formControl]="textCifraCesar" (keyup.enter)="verifyButton()">
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<!-- <div class="form-group col-lg-3"> -->
<!-- </div> -->

<br>
<br>

<h3>Resultados</h3>
<table class="table results">
  <tr>
    <td>Descrição</td>
    <td>Padrão</td>
    <td>Tamanho</td>
    <td>Resultado</td>
    <td>Link</td>
    <!-- <td>IsMatch</td> -->
    <td>Extra</td>
  </tr>
  <tr *ngFor="let function of functions" [ngStyle]="function.isMatch && {'background-color':'#90EE90'}">
    <td>{{function.description}}</td>
    <td>{{function.pattern}}</td>
    <td>{{function.size}}</td>
    <td>{{function.result}}</td>
    <td *ngIf="function.link; else emptyLink"><a href="{{function.link}}" target="_blank">ACESSE AQUI</a></td>
    <ng-template #emptyLink>
      <td> - </td>
    </ng-template>
    <!-- <td>{{function.isMatch}}</td> -->
    <td *ngIf="!function.html; else htmlCode"> - </td>
    <ng-template #htmlCode>
      <td><span [innerHTML]="getHtml(function.html)"></span></td>
    </ng-template>
  </tr>
</table>