<br>
<div id="upload_button">
  <label>
    <input #file type="file" single (change)="upload(file.files)" />
    <span class="btn btn-primary">Importar arquivo de integrantes</span>
    <button type="button" class="btn btn-secondary" (click)="getIntegrants()">Consultar</button>
    <br />
    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>

    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
  </label>
</div>

<br>
<hr>

<!-- <mat-table #table [dataSource]="integrants" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let integrant">{{integrant.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let integrant">{{integrant.name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</mat-table > -->