<br>
<div id="upload_button">
  <label>
    <input #file type="file" single (change)="upload(file.files)" />
    <span class="btn btn-primary">Importar arquivo de integrantes (.xlsx) </span>
    <button type="button" class="btn btn-secondary" (click)="getIntegrants()">Consultar</button>
    <br />
    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>

    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
  </label>
</div>

<br>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <!-- <th scope="col">Data de Cadastro</th> -->
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let integrant of integrants">
      <td>{{integrant.id}}</td>
      <td>{{integrant.name}}</td>
      <!-- <td>{{integrant.registrationDate|date: "MM/dd/yyyy"}}</td> -->
      <td>{{integrant.dateOfBirth|date: "dd/MM/yyyy"}}</td>
      <td>{{integrant.cellPhone}}</td>
      <td>{{integrant.email}}</td>
    </tr>
  </tbody>
</table>