<div class="hero-section">
    <div class="hero-section-text">
      <h1>Olá, Seja Bem-Vindo</h1>
      <h5>Equipe Dark Side</h5>
    </div>
  </div>

  <div>
    <h3>Guia de Utilização</h3>
    <p>Enfim começou o Itajaí Challenge 2018, seja muito bem-vindo a melhor equipe do mundo. Para tentar ajudá-lo durante a resolução das provas, preparamos um sistema para realizar alguns procedimentos com mais agilidade e praticidade. Fique a vontade para usá-lo.
      Abaixo estão algumas informações do que ele faz e de como utilizado. :)
    </p>
    <hr/>
    <h3>Links Úteis</h3>
    <p>Separamos alguns links que podem ser utilizados durante as provas e que facilitam bastante alguns procedimentos. Basta acessá-los na aba de Links Úteis.</p>
    <h3>Validações</h3>
    <p>Nesta aba é possível informar uma sequência qualquer, seja de números ou letras ou ambos que o sistema irá realizar verificações e, caso exista alguma correspondência, ele irá informar. As seguintes validações/conversões são realizadas:</p>
    <ul>
      <li>CPF</li>
      <li>CNPJ</li>
      <li>Datas</li>
      <li>Telefones e Celulares</li>
      <li>Cores em hexadecimal</li>
      <li>Conversão de letras para números</li>
      <li>Conversão de números para letras</li>
      <li>CEP</li>
      <li>Cifra de César</li>
      <li>Conversão de binário para texto</li>
      <li>Conversão de código morse para texto</li>
      <li>Verificação de chaves de notas fiscais eletrônicas</li>
    </ul>
    <p>Abaixo você pode conferir um rápido exemplo de como utilizar.</p>
    <img src="../../assets/gif/tutorial.gif" width="800px" height="600px">
  </div>

  