<br>
<div class="list-group">
    <a href="https://www.convertworld.com/pt/" target="_blank" class="list-group-item">Site com mais de 50 unidades de conversão</a>
    <a href="http://www.wordplays.com/pt/gerador-de-anagrama" target="_blank" class="list-group-item">Gerador de Anagramas</a>
    <a href="http://www.numaboa.com.br/criptografia/cifras/substituicoes/monoalfabeticas/simples/165-Codigo-de-Cesar" target="_blank" class="list-group-item">Cifras de César</a>
    <a href="http://www.dcode.fr/vigenere-cipher" target="_blank" class="list-group-item">Cifra de Vigenère</a>
    <a href="http://www.numaboa.com.br/criptografia/codigos/codigos-abertos/334-Codigo-Morse" target="_blank" class="list-group-item">Código Morse</a>
    <a href="http://www.numaboa.com.br/escolinha/garranchos/91-informatizados/351-ascii" target="_blank" class="list-group-item">ASCII</a>
    <a href="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao.asp" target="_blank" class="list-group-item">Consulta de CNPJ</a>
    <a href="http://www.midomi.com" target="_blank" class="list-group-item">Site que encontra o nome da música pelo som (você pode cantar)</a>
    <a href="http://www.alfabetofonetico.com.br/alfabeto-fonetico" target="_blank" class="list-group-item">Site com tabelas de diferentes Alfabetos Fonéticos</a>
    <a href="http://www.pontodefusao.com/codigosalt/" target="_blank" class="list-group-item">Site com lista de códigos criado por “ALT+” no teclado</a>
    <a href="https://www.myfonts.com/WhatTheFont/" target="_blank" class="list-group-item">Site onde você upa uma foto do texto e ele diz qual foi a fonte usada</a>
    <a href="https://html-color-codes.info/color-names/" target="_blank" class="list-group-item">Lista de cores em HTML, com nome e código</a>
    <a href="http://www.color-hex.com" target="_blank" class="list-group-item">Código Morse</a>
    <a href="https://jisho.org/#handwriting" target="_blank" class="list-group-item">Dicionário</a>
    <a href="https://pdftoimage.com/pt/" target="_blank" class="list-group-item">Conversor de PDF para imagem</a>

</div>